<input type="file" multiple>

Percent complete: {{percentComplete}}%.

<ul>
  {{#each uploads as |upload|}}
    <li>
      ({{upload.status}}):
      {{upload.name}}
      {{upload.uploadedBytes}}/{{upload.totalBytes}}
      ({{upload.percentComplete}}%)

      Bit rate: {{upload.bitRate}}
    </li>
  {{/each}}
</ul>
