<div class='image-summary row'>
  <div class='col-sm-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        Image Set
        {{#link-to 'image-set' imageSet classNames='lg-image-set-summary-link'}}
          <button class='btn btn-xs btn-info'>
            View Details
          </button>
        {{/link-to}}
      </div>
      <ul class='list-group'>
        <li class='list-group-item'>
          ID: {{imageSet.id}}
        </li>
        <li class='list-group-item'>
          Status: {{status}}
        </li>
        <li class='list-group-item'>
          Has CV Results: {{imageSet.hasCvResults}}
        </li>
      </ul>
    </div>
  </div>
  <div class='image-thumbnail col-sm-4'>
    {{#if imageSet.mainImage}}
      <img {{bind-attr src=imageSet.mainImage.url}}>
    {{else}}
      <div class='no-main-image'>
        (Main Image)
      </div>
    {{/if}}
  </div>
</div>
