<div {{bind-attr class=':image-summary heroImage:hero-gallery'}}>
  <div class='metadata-and-selected row'>
    <div class='col-sm-5'>
      <div {{bind-attr class=':lg-image-set-summary-header imageSet.isPrimary:primary-image-set'}}>
        {{#if setName}}
          <h3>{{setName}}</h3>
        {{else}}
          <h4>Image Set {{imageSet.id}}</h4>
        {{/if}}
      </div>
    </div>
    {{#if heroImage}}
      <div class='col-sm-1'></div>
      <div class='col-sm-6 hero-image'>
        {{#if selectedImage}}
          <a target="_blank" {{bind-attr href=selectedImage.url}}>
            <img {{bind-attr src=selectedImage.mainUrl}}>
          </a>
        {{else}}
          <div class='no-main-image'>
            (Main Image)
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class='col-sm-4'>
        <div class='image-set-summary-details panel panel-default'>
          <ul class='list-group'>
            <li class='list-group-item'>
              Status: {{verificationStatus}}
            </li>
            <li class='list-group-item'>
              Has CV Results: {{imageSet.hasCvResults}}
            </li>
          </ul>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class='small-image-thumbnail'>
          {{#if selectedImage}}
            <img {{bind-attr src=selectedImage.url}}>
          {{else}}
            <div class='no-main-image'>
              (Main Image)
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
  {{lg-mini-image-gallery
    imageSet=imageSet
    selectedImage=selectedImage
    setSelectedImage='setSelectedImage'}}
</div>
