<div class='col-sm-4'>
  <div class='metadata-panel panel panel-default'>
    <div class='panel-heading'>
      Metadata
      <div class='edit-save-button'>
        {{#if editingEnabled}}
          {{#if isEditing}}
            <button class='btn btn-xs btn-success' {{action 'finishEditing'}} >
              Save
            </button>
          {{else}}
            <button class='btn btn-xs btn-success' {{action 'startEditing'}} >
              Edit
            </button>
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{#if isEditing}}
      <ul class='list-group'>
        <li class='list-group-item'>Image Set ID: {{imageSet.id}}</li>
        <li class='list-group-item'>Organization: {{view 'select'
                                                    content=organizations
                                                    optionValuePath='content'
                                                    optionLabelPath='content.name'
                                                    value=imageSet.uploadingOrganization}}</li>
        <li class='list-group-item'>Age: {{input type='text' placeholder='Age' value=imageSet.age}}</li>
        <li class='list-group-item'>Latitude: {{input type='text' placeholder='Latitude' value=imageSet.latitude}}</li>
        <li class='list-group-item'>Longitude: {{input type='text' placeholder='Longitude' value=imageSet.longitude}}</li>
        <li class='list-group-item'>Gender: {{view 'select' classNames='lg-image-set-editor-gender' content=genders value=imageSet.gender}}</li>
      </ul>

    {{else}}
      <ul class='list-group'>
        <li class='list-group-item'>Image Set ID: {{imageSet.id}}</li>
        <li class='list-group-item'>Organization: {{imageSet.uploadingOrganization.name}}</li>
        <li class='list-group-item'>Age: {{imageSet.age}}</li>
        <li class='list-group-item'>Location: {{imageSet.latitude}} x {{imageSet.longitude}}</li>
        <li class='list-group-item lg-image-set-editor-gender'>Gender: {{imageSet.gender}}</li>
        <li class='list-group-item'>Is Verified: {{imageSet.isVerified}}</li>
      </ul>
    {{/if}}
  </div>
</div>

<div class='col-sm-4'>
  <div class='main-image'>
    {{#if imageSet.mainImage}}
      <img {{bind-attr src=imageSet.mainImage.url}}>
    {{else}}
      <div class='no-main-image'>
        (Main Image)
      </div>
    {{/if}}
  </div>
</div>
