<div class='col-sm-2'>
  {{#if imageSet.mainImage}}
    <img {{bind-attr src=imageSet.mainImage.url}} width='200' height='200'>
  {{/if}}
</div>

<div class='col-sm-2'>
  {{#if isEditing}}
    <ul>
      <li>{{view 'select'
        content=organizations
        optionValuePath='content'
        optionLabelPath='content.name'
        value=imageSet.uploadingOrganization}}</li>
      <li>{{input type='text' placeholder='Age' value=imageSet.age}}</li>
      <li>{{input type='text' placeholder='Latitude' value=imageSet.latitude}}</li>
      <li>{{input type='text' placeholder='Longitude' value=imageSet.longitude}}</li>
      <li>{{view 'select' classNames='lg-image-set-editor-gender' content=genders value=imageSet.gender}}</li>
      <li><a href='#' class='lg-image-set-editor-done' {{action 'finishEditing'}}>Done</a></li>
    </ul>

  {{else}}
    <ul>
      <li>Image Set ID: {{imageSet.id}}</li>
      <li>Organization: {{imageSet.uploadingOrganization.name}}</li>
      <li>Age: {{imageSet.age}}</li>
      <li>Location: {{imageSet.latitude}} x {{imageSet.longitude}}</li>
      <li class='lg-image-set-editor-gender'>Gender: {{imageSet.gender}}</li>
      {{#if editingEnabled}}
        <li><a href='#' class='lg-image-set-editor-edit' {{action 'startEditing'}}>Edit</a></li>
      {{/if}}
    </ul>
  {{/if}}
</div>
