<div class='image-summary'>
  <div class='metadata-and-selected row'>
    <div class='col-sm-5'>
      <div class='lg-image-set-summary-header'>
        <h3>{{setName}}</h3>
      </div>
      <div class='view-edit-button'>
        {{#link-to 'image-set' imageSet}}
          <button class='btn btn-small btn-info'>
            View More Details
          </button>
        {{/link-to}}
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='lg-image-set-summary-header'>
        <h4>Image Set {{imageSet.id}}</h4>
      </div>
      <div class='panel panel-default'>
        <ul class='list-group'>
          <li class='list-group-item'>
            Status: {{status}}
          </li>
          <li class='list-group-item'>
            Has CV Results: {{imageSet.hasCvResults}}
          </li>
        </ul>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class='small-image-thumbnail'>
        {{#if selectedImage}}
          <img {{bind-attr src=selectedImage.url}}>
        {{else}}
          <div class='no-main-image'>
            (Main Image)
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{lg-mini-image-gallery
    imageSet=imageSet
    selectedImage=selectedImage
    setSelectedImage='setSelectedImage'}}
</div>
