<div class='image-gallery col-sm-12'>
  <div class='gallery-header'>
    <h3> Image Gallery</h3>
  </div>

  <div class='scrollable-gallery'>
    {{#each imageSet.images as |image|}}
      <div class='image-gallery-image'>
        <img {{bind-attr src=image.url}}>

        <div class='image-properties'>
          {{#if editingEnabled}}
            {{view 'select' class='form-control' content=imageTypes value=image.imageType}}
            <div class='public-private checkbox'>
              {{input type='checkbox' checked=image.isPublic}} Public
            </div>
            {{#if image.id}}
              <button class='btn btn-xs btn-warning' {{action 'makeMainImage' image}}>
                Make Main Image
              </button>
            {{/if}}
            <button class='btn btn-xs btn-danger' {{action 'deleteImage' image}}>
              Delete Image
            </button>

          {{else}}
            <li>{{image.imageType}}</li>
            <li>
              {{#if image.isPublic}}
                Public
              {{else}}
                Private
              {{/if}}
            </li>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class='scroll-arrows'>
    <span class='glyphicon glyphicon-chevron-right'></span>
  </div>
</div>
