<div class='col-sm-4'>
  <div {{bind-attr class=':metadata-panel :panel :panel-default isEditing:is-editing'}}>
    <div class='panel-heading'>
      Metadata
      <div class='edit-save-button'>
        {{#if editingEnabled}}
          {{#if isEditing}}
            {{#if isSavingImageSet}}
              Saving In Progress..
            {{else}}
              <button class='btn btn-xs btn-success' {{action 'finishEditing'}} >
                Save
              </button>
              <button class='btn btn-xs btn-warning' {{action 'cancelEditing'}} >
                Cancel
              </button>
            {{/if}}
          {{else}}
            <button class='btn btn-xs btn-info' {{action 'startEditing'}} >
              Edit
            </button>
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{#if isEditing}}
      <ul class='list-group'>
        <li class='list-group-item'>Image Set ID: {{imageSet.id}}</li>
        <li class='list-group-item'>Organization: {{view 'select'
                                                    content=organizations
                                                    optionValuePath='content'
                                                    optionLabelPath='content.name'
                                                    value=selectedOrganization}}</li>
        <li class='list-group-item'>Age: {{lg-dob-selector selectedDob=selectedDob isEditing=isEditing}}</li>
        <li class='list-group-item'>Lat: {{input value=selectedLatitude}}<br>
                                    Long: {{input value=selectedLongitude}}</li>
        <li class='list-group-item'>Gender: {{view 'select' classNames='lg-image-set-editor-gender' content=genders value=selectedGender}}</li>

        {{#if imageSet.lion}}
          <li class='list-group-item'>Lion:
            {{#link-to 'lion' imageSet.lion classNames='lg-lion-summary-link'}}
              {{imageSet.lion.name}}
            {{/link-to}}
          </li>
          <li class='list-group-item'>Verified: {{input type='checkbox' checked=selectedIsVerified}}</li>
        {{/if}}

        <li class='list-group-item'>Ear Markings: {{view 'select' classNames='lg-lion-search-ear-markings' content=earMarkingOptions value=selectedEarMarking}}</li>

        <li class='list-group-item'>Eye Damage: {{view 'select' classNames='lg-lion-search-eye-damage' content=eyeDamageOptions value=selectedEyeDamage}}</li>

        <li class='list-group-item'>Mouth Markings: {{view 'select' classNames='lg-lion-search-mouth-markings' content=mouthMarkingOptions value=selectedMouthMarking}}</li>

        <li class='list-group-item'>Nose Colour: {{view 'select' classNames='lg-lion-search-nose-colour' content=noseColourOptions value=selectedNoseColour}}</li>

        <li class='list-group-item'>Tail Markings: {{view 'select' classNames='lg-lion-search-tail-marking' content=tailMarkingOptions value=selectedTailMarking}}</li>

        <li class='list-group-item'>Broken Teeth: {{view 'select' classNames='lg-lion-search-nose-colour' content=teethOptions value=selectedTeeth}}</li>

        <li class='list-group-item'>Scars: {{view 'select' classNames='lg-lion-search-nose-colour' content=scarOptions value=selectedScar}}</li>

      </ul>

    {{else}}
      <ul class='list-group'>
        <li class='list-group-item'>Image Set ID: {{imageSet.id}}</li>
        <li class='list-group-item'>Organization: {{imageSet.organization.name}}</li>
        <li class='list-group-item'>Uploading Organization: {{imageSet.uploadingOrganization.name}}</li>
        <li class='list-group-item'>Age: {{lg-dob-selector selectedDob=selectedDob isEditing=isEditing}} <small>{{ago imageSet.dateOfBirth}}</small></li>
        <li class='list-group-item'>Lat/Long: {{imageSet.latitude}} x {{imageSet.longitude}}</li>
        <li class='list-group-item lg-image-set-editor-gender'>Gender: {{imageSet.gender}}</li>
        {{#if imageSet.lion}}
          <li class='list-group-item'>Lion:
            {{#link-to 'lion' imageSet.lion classNames='lg-lion-summary-link'}}
              {{imageSet.lion.name}}
            {{/link-to}}
          </li>
          <li class='list-group-item'>Is Verified: {{imageSet.isVerified}}</li>
        {{/if}}

        <li class='list-group-item'>
          Metadata:
          {{#each imageSet.tags as |tag|}}
            {{tag}}
          {{/each}}
        </li>
      </ul>
    {{/if}}
  </div>
</div>

<div class='col-sm-4'>
  <div class='main-image'>
    {{#if imageSet.mainImage}}
      <a target="_blank" {{bind-attr href=imageSet.mainImage.url}}>
        <img {{bind-attr src=imageSet.mainImage.mainUrl}}>
      </a>
    {{else}}
      <div class='no-main-image'>
        (Main Image)
      </div>
    {{/if}}
  </div>
</div>
<div class='col-sm-4'>
  {{lg-google-map marker=mapMarker}}
</div>
