<div class='associate-buttons'>
  {{#unless imageSet.lion}}
    {{#if showLionNameField}}
      {{input class='form-control' type='text' name='lionName' placeholder='Lion Name' value=lionName}}
      <button class='btn btn-small btn-lion-guardians create-lion' {{action 'createLion' imageSet lionName}}>
        Create Lion
      </button>
      <button class='btn btn-small btn-lion-guardians' {{action 'toggleShowLionName'}}>
        Cancel
      </button>
    {{else}}
      <button class='btn btn-small btn-lion-guardians start-create-lion' {{action 'toggleShowLionName'}}>
        No Match? Create Lion
      </button>
    {{/if}}
  {{/unless}}
  {{#if showAssociateButton}}
    <button class='btn btn-small btn-lion-guardians associate-lion' {{action 'associate' imageSet activeLion}}>
      Associate Lion
    </button>
  {{/if}}
</div>

{{#if activeImageSet.lion.primaryImageSet}}
  {{lg-image-set-summary imageSet=activeImageSet.lion.primaryImageSet setName="Primary Image Set"}}
{{/if}}

{{#if activeImageSet}}
  {{lg-image-set-summary imageSet=activeImageSet setName="CV Image Set"}}
{{/if}}
