<div class='associate-fields'>
  {{#if showInput}}
    <div class='id-input'>
      {{input class='form-control' type='text' name='lionId' placeholder='Lion ID' value=lionId}}
    </div>
    <div class='associate-buttons'>
      <button class='btn btn-xs btn-lion-guardians associate-lion'
        {{bind-attr disabled=isSaving}}
        {{action 'associateLion' imageSet lionId}}>

        {{#if isSaving}}
          Saving...
        {{else}}
          Associate Lion
        {{/if}}
      </button>
      <button class='btn btn-xs btn-lion-guardians' {{action 'hideInput'}}>
        Cancel
      </button>
    </div>
  {{else}}
    <button {{bind-attr class=':btn :btn-sm :btn-lion-guardians :start-associate-lion isButtonActive::disabled'}}
      {{action 'showInput'}}>
        Associate Lion
    </button>
  {{/if}}
</div>
