<div class='search-panel'>
  <div class='row'>
    <div class='filter-instructions col-md-2'>
      <h4>Filter Results</h4>
    </div>
    <div class='col-md-4'>
      <ul class='list-group search-param-input'>
        <li class='list-group-item'>Name: {{input type='text' placeholder='Name' value=selectedName}}</li>
      </ul>
      <ul class='list-group search-param-input'>
        <li class='list-group-item'>Gender: {{view 'select' classNames='lg-lion-search-gender' content=genders value=selectedGender}}</li>
      </ul>
    </div>
    <div class='col-md-4'>
      <ul class='list-group search-param-input'>
        <li class='list-group-item'>Organization: {{view 'select' content=searchOrganizations value=selectedOrganization optionValuePath='content' optionLabelPath='content.name'}}</li>
      </ul>
      <ul class='list-group search-param-input'>
        <li class='list-group-item'>Age: {{lg-dob-search-selector selectedSearchDateStart=selectedSearchDateStart selectedSearchDateEnd=selectedSearchDateEnd}}</li>
      </ul>
    </div>
    <div class='col-md-2'>
      <div class='search-button'>
        <button class='btn btn-lg btn-success lion-search' {{action 'search'}} >
          Search
        </button>
      </div>
    </div>
  </div>
</div>
