{{#if showHeader}}
  <div class='control-panel-grouping single-row col-sm-3'>
    New Lion Actions
  </div>
{{/if}}
<div {{bind-attr class='showHeader:col-sm-9 :create-fields'}}>
  {{#if showLionNameField}}
    <div class='name-input'>
      {{input class='form-control' type='text' name='lionName' placeholder='Lion Name' value=lionName}}
    </div>
    <div class='create-buttons'>
      <button class='btn btn-xs btn-lion-guardians create-lion' {{action 'createLion' imageSet lionName}}>
        Create Lion
      </button>
      <button class='btn btn-xs btn-lion-guardians' {{action 'toggleShowLionName'}}>
        Cancel
      </button>
    </div>
  {{else}}
    <button {{bind-attr class=':btn :btn-sm :btn-lion-guardians :start-create-lion imageSet.lion:disabled imageSet::disabled'}} 
      {{action 'toggleShowLionName'}}>
        Create Lion
    </button>
  {{/if}}
</div>
