<div class='lg-page-header row'>
  <div class='page-title col-sm-3'>
    Lions
  </div>
  <div class='col-sm-1'></div>
  <div class='page-summary col-sm-8'>
    Search lions to view summaries of name, age, sex, and organization. Select a search result row to view a lion's primary image set, metadata, and click through to more lion information.
  </div>
</div>

<hr>

{{lg-lion-search action='displayResults' organizations=organizations store=store}}

<hr>


{{#if model}}
  <div class='lion-control-panel'>
    <div class='control-panel-header'>
      Lion Control Panel
    </div>
    <div class='control-panel-body row'>
      <div class='control-panel-grouping single-row col-sm-3'>
        Lion Actions
      </div>
      <div class='control-panel-buttons col-sm-3'>
        <button type="button"
                {{action 'deleteLion'  activeLion}}
                {{bind-attr class=":btn :btn-sm :btn-danger canDeleteLion::disabled :delete-lion"}}>
          Delete Lion
        </button>
        {{#link-to 'lion' activeLion}}
          <button 
                {{bind-attr class=":btn :btn-sm :btn-primary activeLion::disabled :view-lion"}}>
            View Lion
            <span class='glyphicon glyphicon-share'></span>
          </button>
        {{/link-to}}
      </div>
      <div class='control-panel-grouping single-row col-sm-2'>
        Image Set Actions
      </div>
      <div class='control-panel-buttons col-sm-3'>
        {{#link-to 'image-set' activeLion.primaryImageSet}}
          <button 
                {{bind-attr class=":btn :btn-sm :btn-primary activeLion::disabled"}}>
            View Image Set Details
            <span class='glyphicon glyphicon-share'></span>
          </button>
        {{/link-to}}
      </div>
    </div>
  </div>

  <div class='lion-summary-list col-sm-5'>
    <div class='heading'>
      <div class='row'>
        <div class='col-sm-1'>Lion ID</div>
        <div class='col-sm-3'>Name</div>
        <div class='col-sm-3'>Age</div>
        <div class='col-sm-2'>Sex</div>
        <div class='col-sm-3'>Organization</div>
      </div>
    </div>

    <div class='lion-summary-body'>
      {{#each model as |lion|}}
        {{#lg-selectable model=lion activeModel=activeLion action='selectLion'}}
          <div class='lion-summary-item'>
            <div class='col-sm-1'>{{lion.id}}</div>
            <div class='col-sm-3'>{{lion.name}}</div>
            <div class='col-sm-3'>{{lion.primaryImageSet.age}}</div>
            <div class='col-sm-2'>{{lion.primaryImageSet.gender}}</div>
            <div class='col-sm-3'>{{lion.organization.name}}</div>
          </div>
        {{/lg-selectable}}
      {{/each}}
    </div>
  </div>

  <div class='col-sm-7'>
    {{#if activeLion}}
      {{lg-image-set-summary imageSet=activeLion.primaryImageSet setName='Primary Image Set' heroImage=true}}
    {{else}}
      <div class='col-sm-4'>
        <h5>Select a row at left to view lion metadata and primary image set</h5>
      </div>
    {{/if}}
  </div>
{{/if}}
