<h2>Lion Search</h2>
{{lg-lion-search action='displayResults' organizations=organizations store=store}}

{{#if model}}
  <h3>Results</h3>
  <div class='row'>
    <button type="button"
            {{action 'viewLion' activeLion}}
            {{bind-attr class=":btn :btn-primary :view-lion activeLion::disabled"}}>View/Edit</button>
  </div>

  {{#each model as |lion|}}
    {{#lg-selectable model=lion activeModel=activeLion action='selectLion'}}
      <div class='row'>
        <div class='col-md-4'>
          {{lg-lion-summary lion=lion}}
        </div>
        <div class='col-md-4'>
          {{lg-image-set-summary imageSet=lion.primaryImageSet}}
        </div>
      </div>
    {{/lg-selectable}}
  {{/each}}
{{/if}}
