<h2>Image Sets for {{currentOrganization.name}}</h2>

<div class='row'>
  <div class='col-md-4'>
    {{lg-lion-search action='displayResults' searchModel='imageSet' organizations=organizations store=store selectedOrganization=selectedOrganization}}
  </div>
  <div class='col-md-4'>
    {{#if activeImageSet.mainImage.url}}
      <div class='image-thumbnail'>
        <img {{bind-attr src=activeImageSet.mainImage.url}}>
      </div>
    {{/if}}
  </div>
</div>

<div class='container'>
  <div class='row'>
    <button type="button"
            {{action 'requestCv' activeImageSet}}
            {{bind-attr class=":btn :btn-primary canRequestCv::disabled :request-cv"}}>
      {{#if cvRequestPending}}
        Request Pending
      {{else}}
        Run CV
      {{/if}}
    </button>
    <button type="button"
            {{action 'viewCv'}}
            {{bind-attr class=":btn :btn-primary canViewCv::disabled :view-cv"}}>View CV</button>
    <button type="button"
            {{action 'viewImageSet' activeImageSet}}
            {{bind-attr class=":btn :btn-primary canView::disabled :view-image-set"}}>View/Edit</button>
    <button type="button"
            {{action 'deleteImageSet'}}
            {{bind-attr class=":btn :btn-danger canDelete::disabled :delete"}}>Delete</button>
  </div>
</div>
<hr>
<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <div class='row'>
        <div class='col-sm-2'>ID</div>
        <div class='col-sm-2'>Name</div>
        <div class='col-sm-2'>Age</div>
        <div class='col-sm-2'>Org</div>
        <div class='col-sm-2'>Status</div>
      </div>
    </div>

    {{#if model}}
      {{#each model as |imageSet|}}
        {{#lg-selectable model=imageSet activeModel=activeImageSet action='selectImageSet'}}

          <div class='col-sm-2 image-set-id'>{{imageSet.id}}</div>
          <div class='col-sm-2'>
            {{#if imageSet.lion}}
              {{imageSet.lion.name}}
            {{/if}}
          </div>
          <div class='col-sm-2'>{{imageSet.date_of_birth}}</div>
          <div class='col-sm-2'>{{imageSet.organization.name}}</div>
          <div class='col-sm-2'>{{imageSet.status}}</div>

        {{/lg-selectable}}
      {{/each}}
    {{/if}}
  </div>
</div>
