<h3>CV Results</h3>

<div class='row'>
  <div class='col-sm-4'>
    <ul class='list-group'>
      {{#each model as |cvResult|}}
        {{lg-cv-result-summary cvResult=cvResult action='setActiveCvResult'}}
      {{/each}}
    </ul>
  </div>

  <div class='col-sm-4'>
    <div class='row'>
      {{#unless imageSet.lion}}
        {{#if showLionNameField}}
          {{input type='text' name='lionName' placeholder='Lion Name' value=lionName}}
          <button class='btn btn-xs btn-warning create-lion' {{action 'createLion'}}>
            Create Lion
          </button>
          <button class='btn btn-xs btn-warning' {{action 'toggleShowLionName'}}>
            Cancel
          </button>
        {{else}}
          <button class='btn btn-xs btn-warning start-create-lion' {{action 'toggleShowLionName'}}>
            No Match - Create Lion
          </button>
        {{/if}}
      {{/unless}}
    </div>

    <div class='row'>
      {{#if showAssociateButton}}
        <button class='btn btn-xs btn-warning associate-lion' {{action 'associate' activeCvResult}}>
          Associate
        </button>
      {{/if}}

    </div>

    {{#if activeCvResult}}
      {{lg-image-set-summary imageSet=activeCvResult.imageSet}}
    {{/if}}
  </div>
</div>
