<div class='header'>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Lion Guardians</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        {{#if toriiSession.isAuthenticated}}
          <ul class="nav navbar-nav navbar-left">
            <li>{{#link-to 'image-sets.index'}}Image Sets{{/link-to}}</li>
            <li>{{#link-to 'lions.search'}}Lions{{/link-to}}</li>
            <li>{{#link-to 'image-sets.new'}}New Image Set{{/link-to}}</li>
          </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          {{#if toriiSession.isAuthenticated}}
            <li class='no-link-nav-el'>Logged in as <b>{{toriiSession.currentUser.email}}</b></li>
            <li><a href='#' {{action 'logout'}}>Logout</a></li>
          {{else}}
            <li>{{link-to 'Login' 'login'}}</li>
          {{/if}}
          <li><a {{bind-attr href='adminPath'}}>Admin</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="content container">
  {{outlet}}
</div>

<div class='footer'>

</div>
