<div class='image-set-header'>
  <div class='image-set-title'>
    <h2>Image Set</h2>
  </div>

  <div class='messages'>
    {{lg-status-error model=model prefix='Image Set'}}
    {{lg-status-error model=newLion prefix='Lion'}}
    {{lg-status-error model=newCvRequest prefix='CV Request'}}
  </div>

  <div class='image-set-save-or-delete'>
    {{#if showSaveButton}}
      <button class='btn btn-primary btn-large' type='button' {{action 'saveImageSet'}}>
        Save Image Set
      </button>
    {{/if}}
  </div>
</div>

<div class='row'>
  {{lg-image-set-editor
    imageSet=model
    editingEnabled=true
    organizations=organizations}}
</div>
{{#if model.lionless}}
  {{lg-lion-associator activeLion=activeLion
    activeImageSet=model
    imageSet=model
    createLion='createLion'
    associate='associate'}}
{{/if}}

{{outlet}}
