<h2>{{model.name}}</h2>

<div class='messages'>
  {{lg-status-error model=model prefix='Lion'}}
  {{lg-status-error model=activeModel prefix='Image Set'}}
</div>

<div class='row'>
  {{lg-lion-editor
    lion=model
    organizations=organizations
    editingEnabled=isOwner
  }}
</div>

<hr>

<h3>Image Sets</h3>

<div class='container'>
  <div class='row'>
    {{#link-to 'image-set' activeImageSet}}
      <button type="button"
              {{bind-attr class=":btn :btn-primary activeImageSet::disabled :view-image-set"}}>
        View/Edit
        <span class='glyphicon glyphicon-share'></span>
      </button>
    {{/link-to}}
    <button type="button"
            {{action 'makePrimaryImageSet' activeImageSet}}
            {{bind-attr class=":btn :btn-primary canEdit::disabled :make-primary"}}>
      Make Primary
    </button>
    <button type="button"
            {{action 'removeImageSet' activeImageSet}}
            {{bind-attr class=":btn :btn-primary canEdit::disabled :remove-image-set"}}>
      Unassociate from Lion
    </button>
  </div>
</div>

<div class='lion-image-sets row'>
  <div class='col-sm-8'>
    {{#each model.imageSets as |imageSet|}}
      {{#lg-selectable model=imageSet
        activeModel=activeImageSet
        action='selectImageSet'
        classNames='row image-set'}}

        {{lg-image-set-summary imageSet=imageSet}}
      {{/lg-selectable}}
    {{/each}}
  </div>
</div>
