<h2>{{model.name}}</h2>

<div class='messages'>
  {{lg-status-error model=model prefix='Lion'}}
  {{lg-status-error model=activeModel prefix='Image Set'}}
</div>

<div class='row'>
  {{lg-image-set-editor
    imageSet=model.primaryImageSet
    editingEnabled=false
  }}
</div>

<hr>

<h3>Image Sets</h3>

<div class='container'>
  <div class='row'>
    <button type="button"
            {{action 'viewImageSet' activeImageSet}}
            {{bind-attr class=":btn :btn-primary activeImageSet::disabled :view-image-set"}}>
      View/Edit
    </button>
    <button type="button"
            {{action 'makePrimaryImageSet' activeImageSet}}
            {{bind-attr class=":btn :btn-primary canEdit::disabled :make-primary"}}>
      Make Primary
    </button>
    <button type="button"
            {{action 'removeImageSet' activeImageSet}}
            {{bind-attr class=":btn :btn-primary canEdit::disabled :remove-image-set"}}>
      Unassociate from Lion
    </button>
  </div>
</div>

{{#each model.imageSets as |imageSet|}}
  {{#lg-selectable model=imageSet
    activeModel=activeImageSet
    action='selectImageSet'}}
    <div class='row'>
      <h4>Image Set {{imageSet.id}}</h4>
      <div class='image-thumbnail'>
        <img {{bind-attr src=imageSet.mainImage.url}}>
      </div>
      {{lg-image-gallery imageSet=imageSet editingEnabled=false}}
    </div>
  {{/lg-selectable}}
{{/each}}
