<form {{action 'login' on='submit'}}>
  {{#if error}}
    <div class="alert alert-error">
      There was an error logging you in: {{error}}.
    </div>
  {{/if}}

  Email: {{input value=email}}<br>
  Password: {{input value=password type='password'}}

  <button {{action 'login'}} type='submit' {{bind-attr disabled=toriiSession.isWorking}}>
    {{#if toriiSession.isWorking}}
      Logging in...
    {{else}}
      Log In Now!
    {{/if}}
  </button>
</form>
